<h1>Change Password</h1>
<% if (error_msg) { %>
  <div><%= error_msg %></div>
<% } %>
<% if (success_msg) { %>
  <div><%= success_msg %></div>
<% } %>
<form action="/changepassword" method="POST">
  <label for="currentPassword">Current Password:</label>
  <input type="password" name="currentPassword" required>
  <label for="newPassword">New Password:</label>
  <input type="password" name="newPassword" required>
  <button type="submit">Change Password</button>
</form>
<a href="/">Back to home</a>
