<% if (error_msg) { %>
<div><%= error_msg %></div>
<% } %> <% if (success_msg) { %>
<div><%= success_msg %></div>
<% } %>
<div class="login_form">
  <h2>Changer mot de pass</h2>
  <form action="/changepassword" method="POST">
    <div class="input_box">
      <label for="currentPassword">mot de pass courant:</label>
      <input type="password" name="currentPassword" required />
    </div>
    <div class="input_box">
      <label for="newPassword">Nouveau mot de pass:</label>
      <input type="password" name="newPassword" id="newPassword" required />
    </div>
    <div class="input_box">
      <label for="newPassword">confirmer mot de pass:</label>
      <input type="password" id="password_confirmation" required />
    </div>
    <button type="submit">Change Password</button>
  </form>
  <a href="/">Back to home</a>
</div>

<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    const password = document.querySelector("#newPassword").value;
    const passwordConfirmation = document.querySelector(
      "#password_confirmation"
    ).value;

    if (password !== passwordConfirmation) {
      alert("Passwords do not match.");
      event.preventDefault(); // Prevent form submission
    }
  });
</script>
