<h1>Login</h1>
<% if (error_msg.length > 0) { %>
<div class="alert alert-danger"><%= error_msg %></div>
<% } %> <% if (success_msg.length > 0) { %>
<div class="alert alert-success"><%= success_msg %></div>
<% } %>

<form action="/login" method="POST">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <button type="submit">Login</button>
</form>
